{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block page_name %}{{ page.title }}{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li><a href="{{ page.get_parent.url }}">Методики</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>{{ page.title }}</li>
{% endblock breadcrumbs %}


{% block content %}

<section class="service_details_area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <!-- Service Details Thumb Area Start -->
                    <div class="service_details_thumb">
                        {% image page.image fill-1920x505 %}
                        <!-- Service Details Thumb Caption Area Start -->
                    </div>
                    <!-- Service Details Thumb Area End -->

                    <!-- Service Overview -->
                    <div class="service_overview">
                        <h5 class="">Описание</h5>
                    </div>

                    <!-- Service Overview Content -->
                    <div class="service_overview_content">
                        <p class="">{{ page.overview | linebreaksbr }}</p>
                    </div>

                    {% include_block page.body %}
                    <!-- Single Service Area End -->
                </div>
            </div>
				<!-- Service Description -->
                    <div class="service_description">
                        <h5 class="">Еще методики</h5>
                    </div>

			<!-- Single Service Area Start -->
            <div class="row">
                {% for method in random_methods %}
                    <!-- Single Service Area Start -->
                <div class="col-12 col-lg-6">
					<div class="single_service related">
						<div class="single_service_thumb">
							{% image method.image fill-540x270 %}
							<div class="hover_overlay">
								<div class="links">
									<a href="{{ method.url }}"><i class="fa fa-link" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- Single Service Image Area End -->
						<div class="single_service_desc">
							<!-- Single Service Title Area End -->
							<div class="title">
								<a href="{{ method.url }}"><h5>{{ method.title }}</h5></a>
									{{ method.overview | linebreaksbr}}
									<a href="{{ method.url }}" class="redmore-btn">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							</div>
							<!-- Single Service Blog Title Area End -->
						</div>
					</div>
				</div>
				<!-- Single Service Area End -->

                {% endfor %}

			</div>
        </div>
    </section>

{% endblock content %}

