<section class="about_us_area section_padding_100_70">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">

                <div class="diseases">
                    <h3>{{ self.headline | safe}}</h3>
                    {{ self.text | linebreaks }}
                </div>
                <!-- About us special quote start -->
                <div class="special_service">
                    <div class="row">

                        {% for disease in self.diseases %}
                            <div class="col-md-4">
                                <!-- quote -->
                                <div class="single_special_service">
                                    <h5><i class="icofont icofont-{{ disease.icon }}"></i>
                                    {{ disease.title }}</h5>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>