{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% comment %}
By default Django localizes floats ang this fails Google Maps.
We use this tag to unlocalize latitude and longitude.
{% endcomment %}
{% load l10n %}


{% block page_name %}Контакты{% endblock %}

{% block content %}
    <div class="container margin-top">
        <div class="row">
            <div class="col-12 col-md-8">

                {{ page.body | richtext }}

                <div class="row">
				<div class="col-12 col-md-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Спасибо!</strong> {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

					<div class="contact-message">
						<form id="contact-form" action="{% url 'handle-contact-form' %}" method="post">
                            {% csrf_token %}
							<p class="form-messege"></p>
							<div class="single-input">
                                {{ form.name }}
{#								<input name="name" placeholder="Ваше имя" type="text" >#}
							</div>
							<div class="single-input input-pd">
                                {{ form.email }}
{#								<input name="email" placeholder="E-mail" type="email">#}
							</div>
							<div class="single-input">
                                {{ form.subject }}
{#								<input name="subject" placeholder="Тема сообщения" type="text">#}
							</div>
							<div class="single-input input-pd">
                                {{ form.phone }}
{#								<input name="phone" placeholder="Телефон" type="tel">#}
							</div>
							<div class="single-input">
                                {{ form.message }}
{#								<textarea name="message" class="form_control" placeholder="Сообщение"></textarea>#}
							</div>
							<div class="send-button">
								<button type="submit">Отправить</button>
							</div>
						</form>
					</div>
				</div>
			    </div>

            </div>
            <div class="col-12 col-md-4">
                <h5>Адрес:</h5>
                <p>{{ page.address }}</p>

                <h5>E-mail:</h5>
                <p>{{ page.email }}</p>

                <h5>Телефоны:</h5>
                <p>
                    {% for item in page.phones.all %}
                        {{ item.to_str }}<br>
                    {% endfor %}
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-12 margin-top" id="map">

            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
      function initMap() {
        var uluru = {% templatetag openbrace %}
            lat: {{ page.latitude | unlocalize}},
            lng: {{ page.longitude | unlocalize}}
                {% templatetag closebrace %};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap">
    </script>

{% endblock extra_js %}