{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block page_name %}Стоимость{% endblock %}

{% block content %}

    <div class="container margin-top">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="service_overview">
                    <h5 class="">{{ page.title }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 margin-top">
                {{ page.body | richtext }}
            </div>
        </div>
    </div>

{% endblock content %}