{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block page_name %}О специалисте{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>О специалисте</li>
{% endblock breadcrumbs %}


{% block content %}

    <section class="gallery_area column clearfix section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <!-- Team Full Image Start -->
                    <div class="team_full_image">
                        {% image page.photo fill-540x510 %}
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <!-- Team Details info Area Start -->
                    <div class="teacher_details_info">
                        <!-- Team Name Designation Start -->
                        <div class="name_designation">
                            <h3 class="">{{ page.title }}</h3>
                            <h5 class="">{{ page.profession }}</h5>
                        </div>
                        <!-- About Team Start -->
                        <div class="about_member">
                            {{ page.main_info | linebreaks }}
                        </div>
                        <!-- Team Contact Info Start -->
                        <div class="team_contact_info">
							<!-- Single Contact Info Start -->
                            <div class="team_single_contact_info">
								<a href="#" class="get_appointment_btn">Записаться</a>
                            </div>
                        </div>
                        <!-- Team Contact Info End -->
                    </div>
                    <!-- Team Details info Area End -->
                </div>
            </div>

            <div class="col-12 col-md-12">
                {% include_block page.body %}

                {% if page.diplomas.exists %}
                    <div class="service_description">
                        <h5>Дипломы и сертификаты</h5>
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="gallery_full_width_images_area">
            <div class="container margin-top">
                <div class="row">

                    {% if page.diplomas.exists %}
                        {% for item in page.diplomas.all %}
                            <div class="col-12 col-sm-6 col-md-3">
                                <div class="single_gallery_item four-column">
                                    {% image item.image fill-700x525 %}
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <!-- Popup links -->
                                                <div class="links">
                                                    {# Get original image source: #}
                                                    {% image item.image original as origin_img %}
                                                    <a class="magnific-popup" href="{{ origin_img.url }}"><i class="fa fa-plus fa-3x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>

    </section>

{% endblock content %}